$bgcolor: #313121;
$topiccolor: rgb(18, 31, 11);
$boxshadow: rgba(27, 39, 22, 0.693);
$textcolor: white ;
$raincolor: black ;
$rainfont: rgba(32, 28, 28, 0.75);
$footercolor: rgba(255, 255, 255, 0.8);


*{
    font-family: 'Press Start 2P', cursive;
    color: $topiccolor;
    -webkit-text-stroke: 0.1px white;
    text-decoration: none;
    background-color: $bgcolor;
}

.background_img{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(31, 31, 31, 0.813), rgba(31, 31, 31, 0.75), rgba(71, 36, 84, 0.485), rgba(95, 29, 118, 0.4366)), url(/web_design/coursework/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.logo{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
}

.zsu_img{
    img{
    position: absolute;
    left: 5rem;
    top: 5rem;
    background-color: transparent;
    }
} 

.home_text{
    .p{
        color: $textcolor;
        background-color: transparent;
        font-size: 30px;
        inline-size: 300px;
        overflow-wrap: break-word;
        position: absolute;
        left: 14rem;
        top: 5.5rem;
        letter-spacing: 4px;
        -webkit-text-stroke: 0.7px rgb(147, 125, 17);
    }
    .h1{
    background-color: transparent;
    line-height:1.5em;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: bolder;
    inline-size: 800px;
    overflow-wrap: break-word;
    position: absolute;
    right: 10rem;
    top: 15rem;
    letter-spacing: 4px;
    -webkit-text-stroke: 0.5px rgb(147, 125, 17);
    }
    a{
    background-color: transparent;
    font-size: 21px;
    color: $textcolor;
    letter-spacing: 2px;
    padding: 11px 31px;
    border: solid white 2px;
    position: absolute;
    right: 15rem;
    top: 31rem;
    }
}

.tank_img{
    img{
    background-color: transparent;
    position: absolute;
    float: right;
    left: 0px;
    top: 20.5rem;
    }
}

.info_video{
    background: $raincolor;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .power{
        .h{
        padding-top: 55px;
        padding-left: 20px;
        padding-right: 40px;
        font-size: 70px;
        color: $textcolor;
        background-color: $rainfont;
        width: 500px;
        height: 400px;
        position: absolute;
        top: 915px;
        left: 120px;
        z-index: 1;
        }
        span{
        position: absolute;
        height: 100px;
        border-bottom-left-radius:100px;
        border-bottom-right-radius:100px;
        background: linear-gradient(transparent , $textcolor);
        animation: anime 6s linear infinite;  
        }
        span:nth-child(1n){background: linear-gradient(transparent, #03b7cf);}
        span:nth-child(2n){background: linear-gradient(transparent, #f5d001);}
        @keyframes anime{
        0% {transform: translateY(-51vh);}
        100% {transform: translateY(36vh);}   
        }
    }
    .video{
        background-color: transparent;
        padding-left: 230px;
        width: 100px;
        position: absolute;
        z-index: 1;
    }
}

.footer{
    color: $footercolor;
    margin-top: 150px;
    padding-top:  15px;
    padding-left: 50px; 
    list-style: none;
    width: calc(100% - 50px);
    height: 35vh;
    background-color: rgba(53, 20, 52, 0.63);
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: small;
    line-height: 3;   
    .footer_box{
        background-color: transparent;
        li {
            background-color: transparent;
            a{
                color: $footercolor;
                background-color: transparent;
            }
        }
        .contact{
            background-color: transparent;
            .phone, .email{
                color: $textcolor;
            }
        }
        .social{
            background-color: transparent;
            a{
                background-color: transparent;
                img{
                    background-color: transparent;
                }
            }
            
        }
    }
    .copyright{
        background-color: transparent;
        color: #573F48;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 360px){
    body{
        .home_text{
            .h1{
                width: 290px;
                height: 90px;
                left: 29px;
                top: 219px;
                font-weight: 700;
                font-size: 22px;
                line-height: 1.7;
            }
            .p{
                //@at-root: none;
                font-size: 10px;
                left: 5rem;
                top: 2rem;
                width: 100px;
            }
            a{
                font-size: 10px;
                letter-spacing: 0px;
                padding: 10px 25px;
                border: solid white 2px;
                position: absolute;
                top: 20rem;
                right: 2rem;
                
            }
        }
        .tank_img{
            img{
                top: 22rem;
                width: 300px;
                height: 300px;
                left: -23px;
            }
        }
        .zsu_img{
            img{
            left: 2rem;
            top: 2rem;
            width: 30px;
            height: 30px;
            }
        }
        .logo{
            top: 10px;
            width: 50px;
            height: 50px;
            //display: none;
        }
    }
    span{
        display: none;
    }
    .info_video{
        .power{
        display: none;
        }
        .video{
            left: -200px;
            iframe{
                width: 300px;
                height: 180px;
            }
        }   
    }
    /*.footer{
        padding: 0;
        margin: 0;
        margin-top: 50px;
        padding-top:  15px;
        padding-left: 3px;
        padding-right: 5px;
        list-style: none;
        height: 25vh;
        font-size: 5px;
        line-height: 0; 
        .footer_box{
            font-size: 5px;
            li {
                a{
                    font-size: 5px;
                }
            }
            .social{
                img{
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .copyright{
            font-size: 7px;
        }
    }*/
}