.tolist, #start{
    font-size: larger;
    margin: 0px 350px;
    text-indent: 50px;
    text-align: justify;
}

#start{
    margin: 0px 300px;
    text-align: justify;
}

.tolist{
    margin: 15px 350px;
}

ol{
    list-style-type: upper-roman;
}

.pic_1{
    margin: 0px 620px;
    position: relative;
  }
.pic_2, .pic_3{
    margin: 0px 570px;
    position: relative;
}

.overlay_1 {
  position: absolute;
  bottom: 90%;
  left: 0;
  right: 0;
  background-color:#16563e;
  overflow: hidden;
  width: 115.8%;
  height: 0;
  transition: .5s ease;
}
.pic_1:hover .overlay_1 {
  bottom: 0;
  height: 100%;
}

.overlay_2, .overlay_3 {
  position: absolute;
  bottom: 98%;
  left: 0;
  right: 0;
  background-color:#16563e;
  overflow: hidden;
  width: 112%;
  height: 0;
  transition: .5s ease;
}
.pic_2:hover .overlay_2, .pic_3:hover .overlay_3 {
  bottom: 0;
  height: 100%;
}

.message {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}